* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
body {
  padding: 1rem;  
  width: 100%;
  height: auto;
    animation: animateBg 2s linear infinite;
    background-image: linear-gradient(90deg,#246655,#462466,#b66d52,#246655,#462466);
    background-size: 400% 100%;
    background-attachment: fixed;
}
  @keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

.fade-in {
  opacity: 1;
}

header h2 {
  margin-top: 0.5rem;
  color: white;
  opacity: 0;
  transition: opacity 1s ease;
}
header .search-box {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  /* border: 1px solid red; */
}
header .search-box input.search-text {
  position: relative;
  background: none;
  outline: none;
  text-align: center;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.2rem;
  color: white;
  /* padding: 10px 30px 10px 10px; */
}
header .search-box input.search-text::placeholder {
  color: white;
}
.search-box img#search-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px; /* Adjust icon size */
  height: 20px; /* Adjust icon size */
  cursor: pointer;
}

nav.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  background: rgba(71, 4, 71, 0.507);
  border: 2px solid purple;
  border-radius: 25px;
  cursor: pointer;
}
nav.navbar a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 25px;
  transition: background 0.3s ease;
}
nav.navbar a:hover {
  background: blue;
}
nav.navbar .active {
  background: blue;
}

/* index.html */

main.main {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #000; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 1rem;
}
main.main h3 {
  position: relative;
  top: 0;
  margin: 0.2rem 0;
  cursor: pointer;
}
main.main button.home-title {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: blue;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
main.main .box {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background: rgba(114, 101, 101, 0.525);
  border-radius: 0.5rem;
  border: 2px solid black;
  cursor: pointer;
}
main.main .box .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left p {
  margin: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.3rem;
}
.left button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: blue;
  border-radius: 5px 25px 5px 25px;
  border: none;
  cursor: pointer;
}
main.main .box .right {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 0 0.5rem 0.5rem 0;
}

  @media (max-width: 619px) {
    nav.navbar {
      width: 100%;
      height: auto;
    }
    main.main {
      padding-top: 0.5rem;
    }
    main.main .box {
      width: 90%;
      height: auto;
      flex-direction: column;
      margin-top: 2%;
    }
    main.main .box .left, 
    main.main .box .right {
      width: 100%;
      height: auto;
    }
    .left p {
      margin: 1rem;
      font-size: 0.9rem;
    }
    .left button {
      padding: 0.3rem 0.8rem;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }
    .right img {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }


/* models.html */

body.model-body {
  padding: 0.2rem;
  width: 100%;
  height: auto;
    animation: animateBg1 2s linear infinite;
    background-image: linear-gradient(90deg,#246655,#462466,#b66d52,#246655,#462466);
    background-size: 400% 100%;
    background-attachment: fixed;
}
  @keyframes animateBg1 {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }

  main.model-main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: #000; */
  }
  .model-container {
    background: rgba(73, 68, 68, 0.281);
    padding: 0.2rem;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border: 2px solid black;
  }
  .model-container h2 {
    margin: 0.5rem;
    color: white;
    text-align: center;
  }
  .model-container p {
    color: white;
    text-align: center;
  }

  .suggestions {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    z-index: 1;
}
.suggestions div {
    padding: 10px;
    cursor: pointer;
}
.suggestions div:hover {
    background-color: #f0f0f0;
}
.highlight {
  background-color: yellow; /* Change as per your highlight style */
  color: black;
  font-weight: bold;
}

  



